
<dl>
    <dt>user</dt>
    <dd><%=cookies["user"]%></dd>
    <dt>assistant</dt>
    <dd><%=cookies["assistant"]%></dd>

    
</dl>

<form action="/chat" method="post">
  <label for="new_message_field">You:</label>
  
  <input id="new_message" type="text" name="user_message" placeholder="Enter a message....">

  <button>Send</button>
</form>
<hr>
