<dl>
  <%@message_list.each do |message|%>
    <dt><%= message["role"] %></dt>
    <dd><%= message["content"] %></dd>
  <%end%>
</dl>
<dl>
<dt>user</dt>
<dd><%= @user_message %></dd>
<dt>assistant</dt>
<dd><%= @assistant_message %></dd>
</dl>

<form action="/chat" method="post">
  <label for="new_message_field">You:</label>
  <input type="text" name="user_message" placeholder="Type your message here">
  <input type="submit" value="Send">
</form>
<hr>
<form action="/chat" method="get">
  <button>Clear chat history</button>
</form>
