<% message_list = JSON.parse(cookies[:conversation]) %>
  <% message_list.each do |message| %>
    <p><%= message["role"] %>:<%= message["content"] %></p>
  <%end%>

<p>User:<%= @user_message %></p>
<p>Assistant: <%= @assistant_message %></p>

<form action="/chat" method="post">
  <input type="text" name="user_message" placeholder="Type your message here">
  <input type="submit" value="Send">
</form>
<hr>
